* {
    margin: 0;
    padding: 0;
    color: #333;

}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

a:hover {
    color: white;
}

.bg-check {
    background-color: lightgray;
}

.d1li:hover>a {
    color: white;
}

.d2ul li>a {
    display: block;
    text-align: center;
}

.d2ul a {
    padding-top: 7px;
}

/* 공통클래스 세팅 쭉 나열  */
/* 가상 */

/* position팀 */
.rel {
    position: relative;
}

.abs {
    position: absolute;
}

/* d-flex 팀 */
.d-flex {
    display: flex;
}

/* d-block {
    display: block;
} */

.jcb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

/* height 작업 */
.ofh {
    overflow: hidden;
}

.h-0 {
    height: 0;
}

.h100 {
    height: 100px;
}

.h200 {
    height: 200px;
}

.h300 {
    height: 300px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* 여기까지가 워밍업  */

/* 레이아웃 시작 */
/* 뎁2를 하고 뎁스1을 만지는구나 ...선생님은. */
.d2ul {
    top: 100%;
    min-width: 110px;
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10000;
    background-color: red;


}

.d1a {
    line-height: 100px;
    font-size: 2.2rem;
    padding: 0 2rem;
}

/* 이거 해야 d2ul의 자식메뉴 li들이 나옴. */
#gnb:hover .d2ul {
    height: 1000px;
}

.d1li:hover .d2ul,
#gnb:hover:after {
    max-height: 180px;
    /* height: 180px; 하면 가려지는 이유를 알아야함.*/
}

/* 동생한테 가거나 내 안의 자식한테는 가도 내 부모나 형한테는 명령 못내려요. 거스르는건 JS가 하는거다. 그래서 JS가 쉽다. */
#gnb:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: darkgray;
    height: 0;
    transition: 0.5s;
    /* 여기까지 하면 뒤로 소메뉴가 가려짐 그래서 z index 씀 */
}